<div id="friends">
    <!-- <div id="searchfriend">
        <input type="text" name="" id="searchtext" placeholder="Search friend...">
    </div> -->
    <div id="friendslist">
        <% if (chatConversations.length > 0) { %>
        <% for (let conv of chatConversations) { %>

        <% if (conv.isDeletedAccount) { %>
        <div class="friend deleted">
            <% } else if (!conv.isFriendCurrently) { %>

            <%  if (conv.isBlocked){ %>
            <div class="friend no-friend-blocked">
                <% } else {%>
                <div class="friend no-friend">
                    <% } %>

                    <% } else if (conv.isBlocked){ %>
                    <div class="friend blocked">
                        <% } else {%>
                        <div class="friend">
                            <% } %>

                            <div class="friend-photo">
                                <% if (conv.isDeletedAccount) { %>
                                <img class="chat-user-img" src="/img/deleted.png" alt="">
                                <% } else {%>
                                <img class="chat-user-img" src="/uploads/<%= conv.imageURL%>" alt="">
                                <% } %>
                            </div>
                            <div class="friend-username">
                                <p id="<%= conv.usernameNormalizedFriend %>"><%= conv.usernameFriend %></p>
                                <% if (conv.isDeletedAccount) { %>
                                <p class="deleted-user-message">cuenta borrada</p>
                                <% } %>
                                <% if (conv.status === "online") { %>
                                <div class="user-status user-status-online"></div>
                                <% } else {%>
                                <div class="user-status"></div>
                                <% } %>
                                <input type="hidden" name="username" value="<%= conv.usernameFriend %>">
                                <% if (conv.isDeletedAccount) { %>
                                <input type="hidden" name="imageURL" value="/img/deleted.png">
                                <% } else {%>
                                <input type="hidden" name="imageURL" value="<%= conv.imageURL %>">
                                <% } %>
                                <% if (!conv.isFriendCurrently) { %>
                                <input type="hidden" id="nofriend" value="true">
                                <% } %>
                                <% if (conv.isBlocked) { %>
                                <input type="hidden" id="blocked" value="true">
                                <% } %>
                                <% if (conv.isDeletedAccount) { %>
                                <input type="hidden" id="deleted" value="true">
                                <% } %>
                            </div>
                            <div class="unread-msg-number">
                                <div id="user-unread-msg-number"></div>
                                <div id="user-unread-msg-status"></div>
                            </div>
                        </div>
                        <% } %>
                        <% }else{ %>
                        <div id="nofriendschat">
                            No tienes ningun chat iniciado
                        </div>
                        <% } %>
                        <div id="emptyspace"></div>

                        <div id="container-icon">
                            <div id="search-friend-div">
                                <svg id="search-friend-svg" viewBox="0 0 20 20" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="32">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="black" fill-rule="evenodd" ">
                                    <g id=" icon-shape">
                                        <path
                                            d="M2,6 L0,6 L0,8 L2,8 L2,10 L4,10 L4,8 L6,8 L6,6 L4,6 L4,4 L2,4 L2,6 L2,6 Z M8.99999861,6.00166547 C8.99999861,4.34389141 10.3465151,3 11.9999972,3 C13.6568507,3 14.9999958,4.33902013 14.9999958,6.00166547 L14.9999958,7.99833453 C14.9999958,9.65610859 13.6534793,11 11.9999972,11 C10.3431437,11 8.99999861,9.66097987 8.99999861,7.99833453 L8.99999861,6.00166547 L8.99999861,6.00166547 Z M20.0000045,15.1405177 C17.6466165,13.7791553 14.914299,13 12,13 C9.08570101,13 6.35338349,13.7791553 3.99999555,15.1405177 L4,18 L20,18 L20,15.1405151 L20.0000045,15.1405177 L20.0000045,15.1405177 Z"
                                            id="Combined-Shape"></path>
                                    </g>
                                    </g>
                                </svg>
                            </div>
                        </div>


                    </div>
                </div>